{% extends "hackaton/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<article class="content-section">

    <div class="media">
        <img src="media/image.png" class="mr-3" alt="...">

        <div class="media-body">
          <h3 class="article-title">Interpretador RepliK</h3>
          El presente aplicativo te permite subir documentos de pymes para procesarlas en una tabla.
        </div>

    </div>
</article>

<article class="content-section">

    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Ingreso de documentación</legend>
            {{ form | crispy }}

            <div class="card-footer ">
                <button type="submit" class="btn btn-primary">Enviar Archivos</button>
                <button type="reset" class="btn btn-dark float-right">Cancelar Envío</button>
            </div>
        </fieldset>


        
    </form>

</article>

<article class="content-section">

<div class="content-section">
  
    <a class="btn btn-primary btn-lg" href="{% url 'hackaton-retrieve-info' %}" role="button">Recoger Data</a>
    
    <!-- Example single danger button -->
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Descargar
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'hackaton-download' %}" download>Json</a>
        </div>
      </div>   
</div>


  <div class="content-section"> 

    <table class="table table-responsive">
        <thead class="thead-dark">
          <tr>
	    <th scope="col">Id</th>
            <th scope="col">Pyme</th>
            <th scope="col">Unidad</th>
            <th scope="col">Caja y bancos</th>
            <th scope="col">Total Activos</th>
            <th scope="col">Total Pasivos</th>
	    <th scope="col">Total Patrimonio</th>
            <th scope="col">Ventas</th>
            <th scope="col">Costo Ventas</th>
            <th scope="col">Utilidad Bruta</th>
            <th scope="col">Utilidad Operacional</th>
            <th scope="col">Utilidad antes de impuestos</th>
            <th scope="col">Utilidad neta</th>
            <th scope="col">Precisión de predicción</th>
	    <th scope="col">Additional info</th>
          </tr>
        </thead>
        <tbody>
          {% for e in pymes_key %}
          <tr>
            <th scope="row">{{ e.id }}</th>
            <td>{{ e.pyme_name }}</td>
            <td>{{ e.mnt_units }}</td>
	    <td>{{ e.cashResources }}</td>
            <td>{{ e.totalAssets }}</td>
            <td>{{ e.totalLiabilities }}</td>
            <td>{{ e.totalEquity }}</td>
            <td>{{ e.sales }}</td>
            <td>{{ e.costSales }}</td>
            <td>{{ e.grossProfit }}</td>
            <td>{{ e.operatingProfit }}</td>
            <td>{{ e.profitBeforeTax }}</td>
            <td>{{ e.netProfit }}</td>
	    <td>{{ e.accuracy }}</td>
            <td>{{ e.more_info }}</td>    
          </tr>
          {% endfor %}
          
        </tbody>

      </table >   

  </div> 
</article>





{% endblock %}

