
<div class="card">
               <img src="{{ post.image.url }}" class="card-img-top" alt="...">
    
       <div class="card-body">
               <h3>
                         <a class="card-link text-dark" href="{% url 'post-detail' post.slug %}" >{{ post.title }}</a>
                       </h3>
                <p class="card-text">{{ post.abstract| truncatechars_html:200 |safe}}</p>
                <p class="card-text"><small class="text-muted">Published at {{ post.date_posted}}</small></p>
                  </div>
</div>
