{% extends "blog/base.html" %}
{% block content %}
       <article class="content-section">
        <div class="media-body">

        <div class="card mb-3 " style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="\media\marcoycaza.jpg" class="card-img" alt="Marco Ycaza Lengua">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Marco Ycaza</h5>
                <p class="card-text">Ingeniero electrónico aficionado a las ciencias de datos y programación en general. En este blog trataré de compartir poco a poco los conocimientos que voy adquiriendo en mi formación autodidacta. </p>

              </div>
            </div>
          </div>
        </div>

          

        </div>
      </article>
{% endblock content %}
